

.box{
  padding: 30px ;  
  width: 95%;  
  margin: auto; 
} 

.projects{
  display: flex;  
}

.projects *{
  margin: auto; 
}

.projects .pro_left{ 
  padding: 10px; 
  border: 2px solid black; 
  flex: 4;
} 

.less{
  margin-top: 1rem; 
} 

.pro_right{
  flex: 3;
}

.pro_right img{
  transform: scale(0.8); 
}


.logos{
  max-width: 150px;   
  /* border: 2px solid black;  */
  height: 50px;    
  object-fit: contain; 
  padding: 0; 
}




