.home{
  position: relative;  
  width: auto;  
  z-index: 3; 
  transition: background-image 1.6s;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.back {
  position: relative;
  min-height: 100vh; 
  background-size: cover;  
  background-repeat: no-repeat;
  z-index: 1;
  padding: 0 30px; 
  width: 95%; 
  margin: auto;
  display: flex;
  align-items:center;   
  justify-content: space-between;  
}  
 

.bottomimg{
  position: absolute;   
  bottom: 0; 
  left: 0; 
  right: 0;   
  width: 100%; 
  object-fit: cover;  
  z-index: -2; 
}

.back > div:nth-child(1) {
  flex: 4;  
  /* border: 2px solid rgb(255, 0, 0);   */
  min-height: 64vh;
}

.back > div:nth-child(2) {
  flex: 2;  
  /* border: 2px solid rgb(255, 0, 0);    */
  min-height: 64vh; 
} 

.switchbox {
  position: fixed;
  bottom: 30px; 
  left: 30px; 
  z-index: 24;
} 

.box2 {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 5%; 
  object-fit: cover;    
  padding: 20px;  
}

.box2 img{
  width: 100%; 
  height: 100%; 
  transform: scale(1.1);
  /* object-fit: cover;    */  
  border-radius: 20px;  
}
 

#homeintro{
  display: grid;  
  gap: 14px; 
} 


.box {
  position: relative;
  display: flex; 
  flex-direction: column;  
  gap: 0; 
  justify-content: center; 
  align-items: center;     
  width: 90%;
  padding: 40px 0px;
  margin-top: 5%; 
  clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);  
  background-color: rgba(101, 122, 138, 0.299);
  border-radius: 20px; 
  z-index: -1;
  text-align: center; 
}

.box .animate {
  -webkit-animation: tracking-in-contract-bck-top 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-top 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* ---------  */

.box > img { 
  margin: 20px auto;
}

.h3 {
  font-size: 35px;
  margin: 10px 0;
}

.h4 {
  width: 90%;
  font-size: large; 
  line-height: 30px;
  font-weight: bolder; 
  -webkit-animation: slide-in-elliptic-bottom-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-bottom-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} 

@-webkit-keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
            transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
            transform-origin: 50% -1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
            transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
            transform-origin: 50% -1400px;
    opacity: 1;
  }
} 

/* =============================== */


/* =============================== */

@media screen and (min-width: 100px) and (max-width: 900px) {
  .box {
    margin-top: 0px;
    width: 94%;
  }  
  .back{
    display: grid; 
  } 

  .back > div:nth-child(1) {
    flex: 4;  
    margin-top: 16%;   
    height: auto; 
  }
  
  .back > div:nth-child(2) {
    flex: 2;  
    margin: auto;  
    height: auto; 
  } 

  .box2{
    display: none;
  }

}

@media screen and (min-width: 100px) and (max-width: 400px) {
  .h4 > span {
    display: none;
  }
  .box {
    width: 100%;
  }
  .box2{
    display: none;
  }
}
