.main {
  margin: auto;
  display: flex;
  /* border: 4px solid green;  */
  width: 100%; 
}

.backbox{  
  background-image: url("https://images.pexels.com/photos/302897/pexels-photo-302897.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center; 
}

.one {
  flex: 1; 
  height: 400px;
  text-align: center;
  position: relative;
}

.inform {
  display: grid;
  text-align: left;
  margin: 20px auto;
  gap: 16px; 
  /* border: 2px solid white;  */
}

.inform * {
  margin: auto ;
}

.two {
  background-color: #efeaffd1;
  border-radius: 10px;
  padding: 6px 10px;
  flex: 1; 
  width: 100%;  
  color: #0b0e3f;
}

.linksto {
  position: absolute;
  bottom: 0;
  margin: auto;
  /* border: 4px solid green;  */
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}   

.linksto>*{
  transition: all 0.5s;
}

.linksto>*:hover{
  transform: scale(1.2) ;
}


/* submit button  */

.submitbt:hover{ 
  color: rgb(182,116,41); 
  border: 1px solid rgb(182,116,41);
	-webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
} 

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}



/* done */
/* ============================================= */ 

/* ================================================= */


@media screen and (min-width: 100px) and (max-width: 900px) {
  .main {
    display: grid;
    /* border: 4px solid green; */  
  }
  .one{
    height: 360px; 
    width: 100%; 
  }

  .inform{
    text-align: center; 
    /* border: 4px solid green;  */
  }

  .inform *{
    margin: auto; 
  }

  .two{
    margin-top: 30px ;
    width: 100%; 
  } 

  .backbox{
    background-image: url("https://images.pexels.com/photos/2469122/pexels-photo-2469122.jpeg?auto=compress&cs=tinysrgb&w=1600");
  } 

  .headtop{
    margin-top: 20px; 
  }

}

@media screen and (min-width: 100px) and (max-width: 500px){
  .two{
    margin-top: 30px ;
    width: 100%; 
  }  

  .backbox{
    background-image: url("https://images.pexels.com/photos/2469122/pexels-photo-2469122.jpeg?auto=compress&cs=tinysrgb&w=1600");
  }  

  .headtop{
    margin-top: 20px; 
  }

}



